* {
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}

.banner {
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  height: 120px;
  max-width: 1000px;
  object-fit: cover;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.banner img {
  animation: 5s ease-in-out infinite running banner-animation;
  height: 150px;
  left: 0px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  width: 110%;
}

h1 {
  align-items: center;
  background-color: rgb(245, 188, 239);
  color: blueviolet;
  display: flex;
  font-size: 2.8rem;
  height: 80px;
  justify-content: center;
  position: sticky;
  vertical-align: center;
  top: 0;
}
.menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  overflow-x: scroll;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.menu-item {
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 180px;
  align-items: center;
  justify-content: center;
}
.menu-item a {
  text-decoration: none;
  text-align: center;
  color: black;
}
.menu-item a img {
  position: relative;
  display: block;
  height: 100%;
  cursor: pointer;
}

.anterior,
.proximo {
  width: 40px;
  opacity: 0.55;
  position: absolute;
  top: 287px;
  animation: 15s ease-in infinite both running pisca;
  z-index: 100;
}
.proximo {
  right: 5px;
}
@keyframes banner-animation {
  0% {
    left: 0px;
  }
  50% {
    left: -10px;
  }
  100% {
    left: 0;
  }
}
@keyframes pisca {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.55;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0.55;
  }
  90% {
    opacity: 0;
  }
}
.menu-item a img {
  width: 140px;
  height: 140px;
}
/*------------------------ modal-close modal-p modal-img modal */
#modal{
  background-color: rgba(0, 0, 0, 0.673);
  width: 100vw;
  height: 100vh;
  position:fixed;
  display:flex;
  top: 0;
  left: 0;
  z-index: -10;
  opacity:0;
  justify-content: center;
  align-items: center;
  transition:all ease 500ms;
}
#modal-img{
  display:flex;
  align-self: center;
  justify-self: center;
  width: 95%;
  left:1%;
  /* top: 10%; */
  position:absolute;
}
#modal-p{
  position: fixed;
  display:flex;
  width:90%;
  bottom: 20px;
  left: 20px;
  color: aliceblue;
  font-size: 5vh;
  text-shadow: 1px 2px 3px rgb(65, 64, 64);
}
#modal-close{
  position: fixed;
  font-size: 50px;
  /* font-weight: bold; */
  display:flex;
  cursor:pointer;
  padding:0 15px;
  right:15px;
  top:15px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: crimson;
  color: white;
}

/*---------------------------------------------------- containers */
.master-container{
  margin: 2rem auto 0;
  display:flex;
  position:relative;
  flex-direction: column;
}
.div-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:0 auto;
  width: 100%;
  max-width: 1300px;
  height: 100%;
  min-height: 400px;
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(141, 33, 33, 0.272);
  /* background-color: aqua; */
}
.container-title {
  padding: 5px 25px;
  background-color: rgb(245, 188, 239);
  color: blueviolet;
  font-size: 1.6rem;
}
.container-div {
  display:flex;
  position:relative;
  border-radius: 3px;
  width: 50%;
  height: 150px;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
.container-img {
  border-radius: 3px;
  width: 100%;
  height: 150px;
  cursor: pointer;
  object-fit: cover;
  transition: all 300ms ease-in-out;
}
.container-p {
  background-color: rgba(240, 248, 255, 0.4);
  color: black;
  position: absolute;
  bottom:-30px;
  display: flex;
  width: 100%;
  font-size: 1.4rem;
  justify-content: center;
  transition: ease 300ms ;
}
.container-img:hover {
  transform: scale(1.08);
  box-shadow: 2px 2px 15px silver;
} 
.btn-voltar {
  color:black;
  text-decoration: none;
  cursor: pointer;
  display: block;
  position: relative;
  text-align: center;
  padding: 10px 15px;
}
.btn-voltar:visited{
  color: black;
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    height: 80px;
  }
}
@media (min-width: 500px) {
  .container-div {
    width: 33%;
    height: 220px;
  }
  
}

@media (min-width: 700px) {
  .banner {
    height: 200px;
  }
  .banner img {
    height: 220px;
  }
  .menu {
    padding: 2rem 0;
  }
  .menu-item {
    width: 240px;
  }
  .anterior,
  .proximo {
    top: 430px;
  }
}
@media (min-width: 1000px) {
  .menu {
    padding: 2rem 0;
    justify-content: center;
  }
  .container-div {
    width: 25%;
    height: 220px;
  }
  .menu-item img {
    width: 220px;
  }
}
@media (min-width: 1200px) {
  .container-div {
    width: 20%;
    height: 220px;
  }
}
